!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="description" content="")
    %meta(name="author" content="")

    %title= 'Welcome to learnit !'
    %link(rel="stylesheet" href='#{static_path(@conn, "/css/app.css")}')

  %body.site(data-js-view-name="#{js_view_name(@conn, @view_template)}")
    = render Learnit.LayoutView, "header.html", conn: @conn
    %main.site-content
      = render Learnit.LayoutView, "flash.html", conn: @conn
      = render @view_module, @view_template, assigns
    = render Learnit.LayoutView, "footer.html", conn: @conn

    = render_gon_script(@conn)
    %script(src='#{static_path(@conn, "/js/app.js")}')
    = Drab.Client.js(@conn)
