%section.hero.is-primary.is-bold
  .hero-body
    .container
      .columns.is-vcentered
        .column.is-4
          .title= "Items"
          - link to: item_path(@conn, :new), class: "button is-primary is-outlined is-small" do
            %span.icon.is-small
              = fa_icon("plus-circle")
            %span= "New item"
        .column.is-8

%section.hero
  .hero-body
    .container
      .columns
        .column.is-12
          %table.table
            %thead
              %tr
                %th
                  .content.has-text-centered= "Classroom"
                %th
                  .content.has-text-centered= "Topic"
                %th
                  .content.has-text-centered= "Nb lists"
                %th
                  .content.has-text-centered= "Level"
                %th
                  .content.has-text-centered= "Kind"
                %th
                  .content.has-text-centered= "Question"
                %th
                  .content.has-text-centered= "Description"
                %th
                  .content.has-text-centered= "Actions"
            %tbody
              - for item <- @items do
                %tr
                  %td
                    .content.has-text-centered= item.topic.classroom.title
                  %td
                    .content.has-text-centered= item.topic.title
                  %td
                    .content.has-text-centered= Enum.count(item.lists)
                  %td
                    .content.has-text-centered= item.level
                  %td
                    .content.has-text-centered= item.kind
                  %td
                    .content.has-text-centered= item.question
                  %td
                    .content.has-text-centered= item.description
                  %td
                    .field.is-grouped.fix-centered
                      -# %p.control
                      -#   - link to: item_path(@conn, :show, item), class: "button is-small is-outlined" do
                      -#     %span.icon.is-small
                      -#       = fa_icon("eye")
                      -#     %span= "View"
                      %p.control
                        - link to: item_path(@conn, :edit, item), class: "button is-small is-outlined is-info" do
                          %span.icon.is-small
                            = fa_icon("pencil")
                          %span= "Edit"
                      %p.control
                        - link to: item_path(@conn, :delete, item.itemlist), method: :delete, data: [confirm: "Are you sure?"], class: "button is-small is-outlined is-danger" do
                          %span.icon.is-small
                            = fa_icon("trash")
                          %span= "Delete"
