%h2
  = "Welcome "
  = Coherence.current_user(@conn).email
%h4= "This is your memberships..."

= link "See the lists available", to: list_path(@conn, :index)

- for membership <- @memberships do
  %h4= membership.list.title
  = link "Start a test !", to: test_path(@conn, :test, membership), class: "btn btn-default btn-xs", target: "blank"
  = link "Delete", to: membership_path(@conn, :delete, membership), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs"
