%h2
  = "Welcome "
  = Coherence.current_user(@conn).email
%h4= "Please choose your lists"
= link "New list", to: list_path(@conn, :new)
= link "See my lists", to: mylists_path(@conn, :index)

%table.table
  %thead
    %tr
      %th= link "Classroom", to: classroom_path(@conn, :index)
      %th= "Title"
      %th= "Records"
      %th= "Lists"
      %th= "Options"

  %tbody
    - for list <- @lists do
      %tr
        %td= list.classroom.title
        %td= list.title
        %td= Enum.count(list.items)
        - if Enum.any?(list.users) do
          %td= link "Remove", to: membership_path(@conn, :delete, Enum.at(list.memberships, 0).id), method: :delete, class: "btn btn-danger btn-xs"
        - else
          %td= render "register_form.html", changeset: @changeset, list_id: list.id, conn: @conn, action: membership_path(@conn, :create)
        -# %td=
        -#   .dim
        -#     = checkbox :selected, list.id, value: note.title, checked: note.selected
        -#     = note.title
        %td.text-right
          = link "Show", to: list_path(@conn, :show, list), class: "btn btn-default btn-xs"
          = link "Edit", to: list_path(@conn, :edit, list), class: "btn btn-default btn-xs"
          = link "Delete", to: list_path(@conn, :delete, list), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs"
